<div class="container">
  <h2>Add new book to the database</h2>
  <p class="addBookDesc">
    Check out if the book you want to add is not already in the system. If not, remember to fill all fileds in
    the form below. Choose the picture carefully, see the preview for the final result.
  </p>
  <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()" class="addBookContainer">
    <div class="formColMain">
      <h3>Main infromation</h3>
      <label for="bookName" class="inputTitle">Title</label>
      <input type="text" class="wideInput" id="bookName" formControlName="bookName"/>
      <label for="bookAuthor" class="inputTitle">Author</label>
      <input type="text" class="wideInput" id="bookAuthor" formControlName="bookAuthor"/>
      <label for="bookPublisher" class="inputTitle">Publisher</label>
      <input type="text" class="wideInput" id="bookPublisher" formControlName="bookPublisher"/>
      <div class="inputFlexContainer">
        <label for="bookReleased" class="inputTitle">Release date</label>
        <input type="date" class="flexInput" id="bookReleased" formControlName="bookReleased"/>
      </div>
      <div class="inputFlexContainer">
        <label for="bookCategory" class="inputTitle">Category</label>
        <select class="flexInput" id="bookCategory" formControlName="bookCategory">
          <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
        </select>
      </div>
    </div>
    <div class="formColPicture">
      <h3>Book cover image</h3>
      <label for="imageUrl" class="inputTitle">Image URL
        <span class="additionalInfo">
          (paste image addres from internet)
        </span>
      </label>
      <input type="text" class="wideInput" id="imageUrl" formControlName="imageUrl"/>
      <p class="inputTitle">Image preview</p>
      <img
        class="bookImage"
        src="{{this.addBookForm.value.imageUrl}}"
        onerror="this.src='assets/images/preview.jpg';"
      />
    </div>
    <div class="formDescription">
      <h3>Book description</h3>
      <label for="bookDescriptionMain" class="inputTitle topMargin">Main Description</label>
      <textarea id="bookDescriptionMain" class="bookDescInput" rows="4" cols="50"
                formControlName="bookDescriptionMain"></textarea>
      <label class="inputTitle topMargin">Detailed description
        <span class="additionalInfo">
          (one paragraph)
        </span>
      </label>
      <div formArrayName="bookDescriptionDetail">
        <div
          class="descDetailPos"
          *ngFor="let paragraph of addBookForm.get('bookDescriptionDetail')['controls']; let i = index"
        >
          <textarea class="bookDescInput" rows="4" cols="50" [formControlName]="i"></textarea>
          <span
            (click)="removeDetailPos(i)"
            *ngIf="addBookForm.get('bookDescriptionDetail')['controls'].length > 1" class="deleteDescPos">
            X
          </span>
        </div>
      </div>
      <button type="button" class="newParagraph" (click)="newParagraph()">Add new paragraph</button>
    </div>
    <button *ngIf="!editingMode" type="submit" [disabled]="addBookForm.invalid">Add new Book</button>
    <button *ngIf="editingMode" type="submit" [disabled]="addBookForm.invalid">Finish editing</button>
  </form>
</div>
