<footer>
  <div class="container">
    <div class="footerContainer">
      <div class="footerData">
    <p>Kamil Pszczółkowski - 2018</p>
        <p>Books manager application - for learning purpouses</p>
      </div>
      <div class="buttons">
        <a href="https://www.linkedin.com/in/kamil-pszcz%C3%B3%C5%82kowski-9b9894166/">
          <div class="btn btn2"></div>
        </a>
        <a href="mailto:pszczolkowski.kamil@gmail.com">
          <div class="btn btn3"></div>
        </a>
        <a href="https://github.com/kamilpszczolkowski">
          <div class="btn btn4"></div>
        </a>
      </div>
    </div>
  </div>
</footer>
