<div class="container">
  <div *ngIf="book" class="singleBookContainer">
    <div class="photoColumn">
      <img class="bookImage" src="{{book.imageUrl}}"/>
      <button type="button" class="addToRead" (click)="addToRead()">Add to read list</button>
      <p class="columnTitlePos">Publisher</p>
      <p>{{book.publisher}}</p>
      <p class="columnTitlePos">Released</p>
      <p>{{book.released}}</p>
      <p class="columnTitlePos">Added to the database</p>
      <p>{{book.created}}</p>
    </div>
    <div class="descriptionColumn">
      <h2>{{book.name}}</h2>
      <p class="bookAuthor">By {{book.author}}</p>
      <p class="bookCategory"><span class="columnTitlePos">Category</span>: {{book.category}}</p>
      <p class="bookDescHeader">Description</p>
      <p class="bookDescMain">{{book.descriptionMain}}</p>
      <p class="bookDescDetail" *ngFor="let bookdescription of book.descriptionDetail">
        {{bookdescription}}
      </p>
    </div>
  </div>
</div>
