.sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s;
  z-index: 3;

}

.greyBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: 0.5s;
}

.greyBackground:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
