<section class="categoryContainer" (window:resize)="onResize()">
  <h2 (click)="redirectToCategory()">{{categoryName}}</h2>
  <div class="booksContainer">
    <span class="changePicButton" (click)="goRight()" [style.opacity]="leftBttnVisible"><</span>
    <div class="listContainer" #listContainer>
      <ul class="booksList" [style.width]="bookListWidth + 'px'" [style.left]="bookListPos + 'px'">
        <li class="bookPosition" *ngFor="let book of books" routerLink="{{book.key}}">
        <img class="bookPosImage" src="{{book.imageUrl}}"/>
        <p class="bookPosTitle">{{book.name | slice:0:30 }}<span *ngIf="book.name.length > 29">...</span></p>
        <p class="bookPosAuthor">{{book.author| slice:0:16 }}<span *ngIf="book.author.length > 15">...</span></p>
      </li>
      </ul>
    </div>
    <span class="changePicButton" (click)="goLeft()" [style.opacity]="rightBttonVisible">></span>
  </div>
</section>
