<section class="categoryContainer" (window:resize)="onResize()">
  <h2 (click)="redirectToCategory()">{{categoryName}}</h2>
  <div class="booksContainer">
    <span class="changePicButton bttnLeft" (click)="goRight()" [style.opacity]="leftBttnVisible"><</span>
    <div class="listContainer" #listContainer>
      <ul class="booksList" [style.width]="bookListWidth + 'px'" [style.left]="bookListPos + 'px'">
        <li class="bookPosition" *ngFor="let book of books" routerLink="{{book.key}}">
          <img class="bookPosImage" src="{{book.imageUrl}}"/>
          <img *ngIf="checkIfOnTheList(book.key)" class="bookOnList" src="assets/images/on_list.jpg"/>
          <p class="bookPosTitle">{{book.name | slice:0:27 }}<span *ngIf="book.name.length > 26">...</span></p>
          <p class="bookPosAuthor">{{book.author| slice:0:14 }}<span *ngIf="book.author.length > 13">...</span></p>
        </li>
      </ul>
    </div>
    <span class="changePicButton bttnRight" (click)="goLeft()" [style.opacity]="rightBttonVisible">></span>
  </div>
</section>
