<div class="sideMenu">
  <h2>Categories</h2>
  <ul>
    <li (click)="navigateToCategory('actionadventure')">Acttion/Adventure</li>
    <li (click)="navigateToCategory('artmusic')">Art/Music</li>
    <li (click)="navigateToCategory('biographies')">Biographies</li>
    <li (click)="navigateToCategory('comics')">Comics</li>
    <li (click)="navigateToCategory('cooking')">Cooking</li>
    <li (click)="navigateToCategory('crime')">Crime</li>
    <li (click)="navigateToCategory('drama')">Drama</li>
    <li (click)="navigateToCategory('fantasySciFi')">Fantasy/SciFi</li>
    <li (click)="navigateToCategory('history')">History</li>
    <li (click)="navigateToCategory('horror')">Horror</li>
    <li (click)="navigateToCategory('kids')">Kids</li>
    <li (click)="navigateToCategory('romance')">Romance</li>
    <li (click)="navigateToCategory('science')">Science</li>
    <li (click)="navigateToCategory('travel')">Travel</li>
    <li (click)="navigateToCategory('other')">Other books</li>
  </ul>
</div>
